:root {
  --dark: #374151;
  --darker: #1F2937;
  --darkest: #111827;
  --grey: #6B7280;
  --teal: #2FB8D6;
  --blue: #083B96;
  --light blue: #1A84C0;
  --orange: #FF7033;
}

h2 {
	padding: 75px 0;
	 text-align: center;
}
h4 {
	padding: 15px 0;
	 text-align: center;
}

h5 {
  top: 10%;
  color: #083B96;
  font-family: "Open Sans", sans-serif;
  text-align: left;
   text-align: center;
}

div {
  color: #083B96;
  font-family: "Open Sans", sans-serif;
   text-align: center;
}

html {
  background-color: #FFF;
   text-align: center;
}

body {
  width: 800px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  text-align: center;
}

input {
  color: #083B96;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16px;
}
